*{
    padding: 0px;
    margin: 0px;
}

.row{
    padding: 20px 0px;
    display: flex;
    justify-content: space-evenly;

}

.col{
    padding: 20px;
    height: 16px;
    flex: 1;
background-color: teal;
margin-right: 40px;
}

.col-2{
    padding: 20px;
    height: 16px;
    flex: 2;
    background-color: teal;
}

.col-3{
    padding: 20px;
    height: 16px;
    background-color: teal;
    flex: 3;
    margin-left: 40px;
}