.container{
    width: 950px;
    height: 598px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 15px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    float: left;
    margin-right: 18px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    float: left;
    padding: 15px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    float: left;
    margin-right: 15px;

}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    float: left;
    margin-top: 25px;
}

